.clock {
    width: 26vw;
    height: 26vw;
    background-color: transparent;
    border-radius: 50%;
    border: 4px solid rgba(255,255,255,1);
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    
}

.circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(255,255,255,1);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -30%);
}

.seconds,
.minutes,
.hours {
    height: 4px;
    background-color: rgba(255,255,255,1);
    transform-origin: 0%;
    transform: rotate(-90deg);
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.3s;
}

.seconds {
    width: 49%;
    height: 2px;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);

}

.minutes {
    width: 46%;
}

.hours {
    width: 30%;
}