@import './setup';
@import './animations';
@import './clock';

body {
    background: linear-gradient(to bottom, #171b5d, #171b5d, #3b369b, #6f61cd, #fdf3dd, #ffedc7, #b0fcff, #8af4f8, #b0fcff, #ffedc7,  #ff9c95, #e689c1, #6f61cd, #3b369b,#171b5d, #171b5d);
    background-size: 100% 3500%;
    // background-position-y: 25%; 
    // animation: sunset 60s linear infinite;
}

img {
    width: 100%;
    height: 400px;
    position: absolute;
    bottom: 0;
    opacity: 0.7;
}


